In [18]:
import pandas as pd
import numpy as np

# Load data (update filename as needed)
df = pd.read_csv('sales_top10_skus.csv')

# Melt to long format: t, Year, Month stay as id_vars, others are SKUs
id_vars = ['t', 'Year', 'Month']
sku_columns = [col for col in df.columns if col not in id_vars]
df_long = df.melt(id_vars=id_vars, var_name='SKU', value_name='Sales')

# Remove possible $/comma formatting and convert to float
df_long['Sales'] = (df_long['Sales'].replace('[\$,]', '', regex=True)).astype(float)

In [19]:
# Add a truncated 'date' column

month_map = {
    'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6,
    'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12
}
df_long['Month_num'] = df_long['Month'].map(month_map)
df_long['Date'] = pd.to_datetime(df_long['Year'].astype(str) + '-' + df_long['Month_num'].astype(str) + '-01')


# Show the first 5 rows
df_long.head()

   t  Year     Month     SKU       Sales  Month_num       Date
0  1  2021   January  6HSD4J   811306.11          1 2021-01-01
1  2  2021  February  6HSD4J   660086.35          2 2021-02-01
2  3  2021     March  6HSD4J   849879.16          3 2021-03-01
3  4  2021     April  6HSD4J  1379693.06          4 2021-04-01
4  5  2021       May  6HSD4J   759690.80          5 2021-05-01

In [51]:
from statsmodels.tsa.holtwinters import ExponentialSmoothing
import pandas as pd

results = []
sku_list = df_long['SKU'].unique()

for sku in sku_list:
    sku_data = df_long[df_long['SKU'] == sku].sort_values('Date')
    y = sku_data['Sales'].values

    # Skip if too few points
    if pd.isnull(y).all() or (y == 0).all() or len(y) < 6:
        continue

    # Holt's linear trend model (trend='add', seasonal=None)
    model = ExponentialSmoothing(y, trend='add', seasonal=None)
    fit = model.fit(optimized=True)  # optimize both alpha and beta using statsmodelsâ€™ built-in optimization.
    forecast = fit.forecast(6)

    # Save the alpha and beta values
    best_alpha = fit.params['smoothing_level']
    best_beta = fit.params['smoothing_trend']
    
    # Forecast months
    last_date = sku_data['Date'].max()
    forecast_dates = pd.date_range(last_date + pd.offsets.MonthBegin(1), periods=6, freq='MS')
    for d, val in zip(forecast_dates, forecast):
        results.append({
            'SKU': sku,
            'Forecast_Month': d.strftime('%Y-%m'),
            'Forecasted_Sales': val
        })
    
print(">> Best Aplha: ", best_alpha)
print("\n>> Best Beta: ", best_beta, "\n")
        
forecast_df = pd.DataFrame(results)
print(forecast_df)

>> Best Aplha:  1.4901161193847656e-08

>> Best Beta:  2.9751444195078054e-10

       SKU Forecast_Month  Forecasted_Sales
0   6HSD4J        2022-02      5.534532e+05
1   6HSD4J        2022-03      5.243769e+05
2   6HSD4J        2022-04      4.953005e+05
3   6HSD4J        2022-05      4.662242e+05
4   6HSD4J        2022-06      4.371479e+05
5   6HSD4J        2022-07      4.080716e+05
6   7XL27C        2022-02      9.083929e+04
7   7XL27C        2022-03      1.457403e+04
8   7XL27C        2022-04     -6.169124e+04
9   7XL27C        2022-05     -1.379565e+05
10  7XL27C        2022-06     -2.142218e+05
11  7XL27C        2022-07     -2.904870e+05
12  BJ30D6        2022-02      3.604623e+05
13  BJ30D6        2022-03      3.453712e+05
14  BJ30D6        2022-04      3.302801e+05
15  BJ30D6        2022-05      3.151890e+05
16  BJ30D6        2022-06      3.000979e+05
17  BJ30D6        2022-07      2.850068e+05
18   FJD6B        2022-02      1.724303e+06
19   FJD6B        2022-03      1.676907e+06
20   FJD6B        2022-04      1.629510e+06
21   FJD6B        2022-05      1.582114e+06
22   FJD6B        2022-06      1.534718e+06
23   FJD6B        2022-07      1.487322e+06
24  HK1R6J        2022-02      2.452710e+05
25  HK1R6J        2022-03      2.019414e+05
26  HK1R6J        2022-04      1.586119e+05
27  HK1R6J        2022-05      1.152823e+05
28  HK1R6J        2022-06      7.195277e+04
29  HK1R6J        2022-07      2.862322e+04
30  LHR5LZ        2022-02      2.080303e+05
31  LHR5LZ        2022-03      1.575632e+05
32  LHR5LZ        2022-04      1.070962e+05
33  LHR5LZ        2022-05      5.662921e+04
34  LHR5LZ        2022-06      6.162187e+03
35  LHR5LZ        2022-07     -4.430483e+04
36  NLDP86        2022-02      1.883072e+05
37  NLDP86        2022-03      1.502922e+05
38  NLDP86        2022-04      1.122771e+05
39  NLDP86        2022-05      7.426211e+04
40  NLDP86        2022-06      3.624709e+04
41  NLDP86        2022-07     -1.767930e+03
42  SHZ5Y2        2022-02      2.891540e+05
43  SHZ5Y2        2022-03      2.678230e+05
44  SHZ5Y2        2022-04      2.464921e+05
45  SHZ5Y2        2022-05      2.251611e+05
46  SHZ5Y2        2022-06      2.038301e+05
47  SHZ5Y2        2022-07      1.824992e+05
48  VJK56C        2022-02      1.914772e+06
49  VJK56C        2022-03      1.729868e+06
50  VJK56C        2022-04      1.544965e+06
51  VJK56C        2022-05      1.360061e+06
52  VJK56C        2022-06      1.175158e+06
53  VJK56C        2022-07      9.902543e+05
54  Y6HWKQ        2022-02      5.017548e+05
55  Y6HWKQ        2022-03      5.046989e+05
56  Y6HWKQ        2022-04      5.076429e+05
57  Y6HWKQ        2022-05      5.105870e+05
58  Y6HWKQ        2022-06      5.135311e+05
59  Y6HWKQ        2022-07      5.164752e+05

In [53]:
# Save output to csv file (long format for further analysis)
forecast_df.to_csv("forecast_next6m.csv", index=False)

In [54]:
# Optionally: Convert forecast_next6m.csv to wide format for easier read

# Pivot to wide format: each SKU as a column, rows are Forecast_Month
wide_df = forecast_df.pivot(index='Forecast_Month', columns='SKU', values='Forecasted_Sales').reset_index()

# Save to CSV
wide_df.to_csv('forecast_next6m_wide.csv', index=False)

In [56]:
wide_df

SKU,Forecast_Month,6HSD4J,7XL27C,BJ30D6,FJD6B,HK1R6J,LHR5LZ,NLDP86,SHZ5Y2,VJK56C,Y6HWKQ
0,2022-02,553453.177943,90839.290073,360462.340372,1.724303e+06,245270.960750,208030.259070,188307.177688,289153.973728,1.914772e+06,501754.773430
1,2022-03,524376.858390,14574.026265,345371.238919,1.676907e+06,201941.413568,157563.241167,150292.156165,267823.017329,1.729868e+06,504698.853712
2,2022-04,495300.538836,-61691.237544,330280.137467,1.629510e+06,158611.866385,107096.223264,112277.134642,246492.060930,1.544965e+06,507642.933995
3,2022-05,466224.219283,-137956.501352,315189.036014,1.582114e+06,115282.319202,56629.205361,74262.113119,225161.104531,1.360061e+06,510587.014277
4,2022-06,437147.899730,-214221.765161,300097.934562,1.534718e+06,71952.772020,6162.187459,36247.091596,203830.148132,1.175158e+06,513531.094559
5,2022-07,408071.580177,-290487.028969,285006.833109,1.487322e+06,28623.224837,-44304.830444,-1767.929927,182499.191734,9.902543e+05,516475.174842